:root{
    --cinza: rgb(223, 223, 223);
    --bege: rgb(255, 228, 206);
    --marrom: rgb(34, 19, 19);
    --preto: rgb(0, 0, 0);
}

*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    background: var(--preto);
}

::-webkit-scrollbar-thumb{
    background: var(--cinza);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--bege);
}

.logo{
    width: 12%;
    height: 12%;
}

body{
    background: var(--marrom);

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cinza);
    gap: 400px;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.lista li{
    margin-right: 32px;
    list-style: none;
    position: relative;
}

li{
    font-family: 'Poppins', sans-serif;
}

.lista li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--marrom);
    width: 0%;
    height: 2px;
    transition: 0.4s ease;
}

.lista li a:hover::after{
    width: 30%;
}

.lista li a{
    text-decoration: none;
    color: var(--preto);
}

.btn{
    background: var(--preto);
    padding: 12px;
    border-radius: 19px;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-out;
    font-size: 0.9rem;
}

.btn:hover{
    box-shadow: 0 0 7px var(--marrom);
}

.btn a{
    text-decoration: none;
    color: var(--cinza);

}

#principal{
    color: white;
    font-family: 'Young Serif', sans-serif;
    font-size: 1.9rem;
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 130px;
}

.sobre{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 100px;
    font-size: 1.7rem;
}

strong{
    font-family: 'Young Serif', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    color: var(--cinza);
}

.ferramentas{
    width: 90%;
    border-radius: 20px;
}

#serviços{
    color: var(--cinza);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    font-size: 1.4rem;
}

#marcar{
    margin-block: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo-marcar{
    color: var(--cinza);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
}

.titulodeserviço{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 40px;
}

.card{
    background: var(--bege);
    padding: 50px;
    border-radius: 14px;
    width: 400px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.card h2{
    font-family: 'Young Serif', sans-serif;
    margin-bottom: 15px;
}

div.card p{
    font-family: 'poppins', sans-serif;
    margin-bottom: 15px;
}

div.card ul{
    font-family: 'poppins', sans-serif;
    margin-bottom: 19px;
}

.btn2 {
    margin-top: 67px;
}

footer{
    color: white;
    text-align: center;
    background-color: rgb(102, 100, 96);
    font-size: 1.4rem;
    margin-top: 60px;
    padding-block: 24px;
}